*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    background-color: #E5E5E5;;
}
/*****HEADER*****/
.navegacion{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    box-shadow: 0 8px 4px rgba(0, 0, 0, 0.25);
}
.navegacion nav{
    align-self: center;
    margin: 40px 20px;
}
.navegacion ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-left: 200px;
}
.navegacion li{
    margin: 0px 10px;
}
.navegacion li a {
    text-decoration: none;
    color: white;
}
.navegacion img{
    padding: 10px 20px;
    height: 100px;
}
/***PROMOCIONES***/
.promociones{
    display: flex;
    justify-content:space-evenly;
    margin: 50px 0;
}
.promo1{
    background-image: url('../img/delivery.jpg');
    background-size: contain;
    width: calc(490px*1.5);
    height: calc(350px*1.5);
    border-radius: 5px;
    background-repeat: no-repeat;
    padding-bottom: 200px;
}
.promo1 h2{
    color: red;
    margin: 20px;
}
.promo1 h2 span{
    color: white;
}

.promo2{
    background-color: white;
    width: calc(490px*1.5);
    height: calc(350px*1.5);
    border-radius: 5px;
}
.promo2>h2{
    color:red;
    margin-top: 20px;
    text-align: center;
}
.promo2>div{
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
}
.promo2 img{
    margin-right: 50px;
    height: 129px;
    margin-top: 30px;
    
}
.lista h3 {
    margin-bottom: 10px;
    margin-left: 75px;

}
.lista ol li{
    padding: 5px;
    font-weight: bold;
}
.lista ol{
    padding-left: 70px;
}
/*-------- FOOTER --------*/

footer{
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div ul{
    list-style-type: none;
    margin: 20px 0px
}

footer a{
    text-decoration: none;
    color: white;
}
footer li{
    padding: 12px;
}
footer img{
    margin-right: 40px;
    
}